# Carpetas de datos

entrada/
Entrada_Comparativas/
procesados/
salida/
Salida_Comparativas/
entrada/**
Entrada_Comparativas/**
procesados/**
salida/**
Salida_Comparativas/**

# Variables de entorno / claves

.env
.env.*
